html {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;

}

#landing {
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.row {
    margin-top: 2em;
    margin-bottom: 1em;
}

.divider {
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#mainText {
    margin-top: 20vh;
}

.card {
    margin-top: 15px;
}

.subtext {
    margin-top: 1.6em;
    margin-bottom: 1.2em;
}
/* mobile */

@media only screen and (max-width: 600px) {
    #proyectos {
        height: 200vh;
        width: 100vw;
        text-decoration: none;
        background-color: color("grey", "darken-3");
    }

    #skills {
        height: 200vh;
        width: 100vw;
        text-decoration: none;
    }
    #contacto {
        height: 200vh;
        width: 100vw;
        text-decoration: none;
        background-color: color("grey", "lighten-4");
    }

  
}
/* Desktop-tablets */
@media only screen and (min-width: 601px) {
    #proyectos {
        height: 90vh;
        width: 100vw;
        text-decoration: none;
    }
    #skills {
        height: 90vh;
        width: 100vw;
        text-decoration: none;
    }
    #contact{
        height: 50vh;
        width: 100vw;
        text-decoration: none;
    }
}