 {% macro proyect_card(title, img, link) %}
 <div class="offset-m1 col s12 m3">
    <a class="" href="{{ link }}">
      <div class="card hoverable">
        <div class="card-image">
          <img src="{{ img }}" />
        </div>
        <div class="card-content">
          <h5>
            {{ title }}
          </h5>
        </div>
      </div>
    </a>
  </div>

 {% endmacro %}

 {% macro skill(title, img) %}
 <div class="col s12 m3">
    <div class="skill center">
      <img class=" responsive-img" src="{{ img }}" alt="skill">
      <h4 class="">{{ title }}</h5>
    </div>
    <div class="hide-on-med-and-up divider"></div>

  </div>

{% endmacro %}

{% macro navbar() %}
<div class="navbar-fixed  ">
  <nav class="grey lighten-4">
    <div class="nav-wrapper ">
      <a href="#" class="brand-logo center black-text">{cc}</a>
      <ul class="left hide-on-med-and-down">
        <li><a class="black-text" href="#proyectos">Proyectos</a></li>
        <li><a class="black-text" href="#skills">Skills</a></li>
        <li><a class="black-text" href="#contact">Contacto</a></li>
      </ul>
    </div>
  </nav>
</div>

{% endmacro %}

